In [1]:
import pandas as pd
import sqlite3

DB_PATH = "..\\data\\match.db"

In [8]:
# Context Manager 사용 (권장)
with sqlite3.connect(DB_PATH) as conn:
    query = f"""
            SELECT *
            FROM kleague
            """
    result = pd.read_sql(query, conn)
display(result.dtypes.to_frame(name='dtype'))

                 dtype
Meet_Year        int64
LEAGUE_NAME     object
Round            int64
Game_id          int64
Game_Datetime   object
Day             object
HomeTeam        object
AwayTeam        object
HomeRank         int64
AwayRank         int64
Field_Name      object
Audience_Qty     int64
Weather         object
Temperature    float64
Humidity         int64

In [9]:
# Context Manager 사용 (권장)
with sqlite3.connect(DB_PATH) as conn:
    query = f"""
            SELECT *
            FROM jleague
            """
    result = pd.read_sql(query, conn)
display(result.dtypes.to_frame(name='dtype'))

                 dtype
Meet_Year        int64
LEAGUE_NAME     object
Round            int64
Game_Datetime   object
Day             object
HomeTeam        object
AwayTeam        object
Audience_Qty     int64
Weather         object
Temperature    float64
Humidity         int64

In [7]:
# Context Manager 사용 (권장)
with sqlite3.connect(DB_PATH) as conn:
    query = f"""
            SELECT
                Meet_Year,
                LEAGUE_NAME,
                Round,
                SUM(Audience_Qty) AS Audience_Qty
            FROM kleague
            GROUP BY Meet_Year, LEAGUE_NAME, Round
            """
    result = pd.read_sql(query, conn)
result

     Meet_Year LEAGUE_NAME  Round  Audience_Qty
0         2023        K리그1      1        101632
1         2023        K리그1      2         61233
2         2023        K리그1      3         55996
3         2023        K리그1      4         55329
4         2023        K리그1      5         55913
..         ...         ...    ...           ...
232       2025        K리그2     37         32105
233       2025        K리그2     38         29837
234       2025        K리그2     39         39986
235       2025        K리그2     40          4147
236       2025        K리그2     41          6171

[237 rows x 4 columns]