In [14]:
import pandas as pd
from pandasql import sqldf

# CSV 파일 읽기
df = pd.read_csv(r'..\data\match\kleague_match_info_2025.csv')

# SQL 쿼리 직접 사용
query = """
SELECT DISTINCT weather
FROM df
"""

result = sqldf(query, locals())

display(result.dtypes.to_frame(name='dtype'))

result

          dtype
weather  object

  weather
0      맑음
1   흐리고 비
2      흐림
3       눈
4       비